body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

/* containerクラスのCSSを指定してください */
.container {
  width:1170px;
  padding: 0px 15px;
  margin:0 auto;
}


/* top-wrapperクラスのCSSを指定してください */
.top-wrapper {
  padding-top:1px;
  padding-bottom:100px;
  margin-left: auto;
  margin-right: auto;
  background-image:url(https://cdn.discordapp.com/attachments/800481502923325451/1040640486983082054/c3d081e464f5d2d2.gif);
  color:white;
  background-size:cover;
}

